<!doctype html>
<html lang="en">

<head>
    <title>Welcome to ClapGrow Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="https://clapgrow.com/admin/images/newdesign/favicon.png" type="image/x-icon">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- CSS files -->

    <link rel="stylesheet" href="https://clapgrow.com/admin/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://clapgrow.com/admin/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://clapgrow.com/admin/css/custom.css">
    <!-- Custom style -->
    <link rel="stylesheet" href="https://clapgrow.com/admin/css/style-new-one.css">
    <link rel="stylesheet" href="https://clapgrow.com/admin/css/responsive-new-one.css">
    <link rel="stylesheet" href="https://clapgrow.com/admin/css/fm.tagator.jquery.css" />
    <link rel="stylesheet" href="https://clapgrow.com/admin/css/style.css">
    <link rel="stylesheet" href="https://clapgrow.com/admin/css/all.min.css">