<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4">
        <div class="clientlogo">
            <img src="https://clapgrow.com/admin/images/newdesign/blanklogo.jpeg" alt="" class="iconlogolt">
            <h1>Symmetrix Systems Pvt. Ltd.</h1>

        </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3">

    </div>
    <div class="col-xl-5 col-lg-5 col-md-5">
        <a href="comp_users.php">
            <div class="rightuserimgbox">
                <ul>
                    <span style="padding-right:30px;font-weight:600;color:#0939B0;">Hi , <%= user.usr_name%></span>

                </ul>
            </div>
        </a>
    </div>
</div>