<div class="leftsidebar">
    <div class="panellogobox">
        <a href="/api/v1/admin/dashboard"><img src="https://clapgrow.com/admin/images/newdesign/clapgrow-logo.png"
                alt=""></a>
    </div>
    <div class="navpart">


        <ul class="linksnavcls accordion">
            <li>
                <a href="/api/v1/admin/newTask"><img src="https://clapgrow.com/admin/images/newdesign/plus.png"
                        alt="plusicon">
                    <span>New
                        Task</span></a>
            </li>
        </ul>
    </div>

</div>