<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Clap Grow</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="css/all.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Tempusdominus Bbootstrap 4 -->
    <link rel="stylesheet" href="https://clapgrow.com/admin/css/tempusdominus-bootstrap-4.min.css">
    <!-- iCheck -->
    <link rel="stylesheet" href="https://clapgrow.com/admin/css/icheck-bootstrap.min.css">
    <!-- JQVMap -->
    <link rel="stylesheet" href="https://clapgrow.com/admin/css/jqvmap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="https://clapgrow.com/admin/css/adminlte.min.css">
    <!-- overlayScrollbars -->
    <link rel="stylesheet" href="https://clapgrow.com/admin/css/OverlayScrollbars.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="https://clapgrow.com/admin/css/daterangepicker.css">
    <!-- summernote -->
    <link rel="stylesheet" href="https://clapgrow.com/admin/css/summernote-bs4.css">

    <link rel="icon" href="https://clapgrow.com/admin/images/newdesign/favicon.png" type="image/x-icon">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- CSS files -->

    <link rel="stylesheet" href="https://clapgrow.com/admin/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://clapgrow.com/admin/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://clapgrow.com/admin/css/custom.css">
    <!-- Custom style -->
    <link rel="stylesheet" href="https://clapgrow.com/admin/css/style-new-one.css">
    <link rel="stylesheet" href="https://clapgrow.com/admin/css/responsive-new-one.css">
    <!---- custom style ----->
    <link rel="stylesheet" href="https://clapgrow.com/admin/css/style.css">
    <link rel="stylesheet" href="https://clapgrow.com/admin/css/custom.css">

    <link rel="stylesheet" href="https://clapgrow.com/admin/css/fm.tagator.jquery.css" />

    <!-- Google Font: Source Sans Pro -->
    <!--<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap" rel="stylesheet">-->
</head>

<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">



        <div class="leftsidebar">
            <div class="panellogobox">
                <a href="index.php"><img src="https://clapgrow.com/admin/images/newdesign/clapgrow-logo.png" alt=""></a>
            </div>
            <div class="navpart">


                <ul class="linksnavcls accordion">
                    <li>
                        <a href="newtask.php"><img src="https://clapgrow.com/admin/images/newdesign/plus.png"
                                alt="plusicon"> <span>New
                                Task</span></a>
                    </li>
                </ul>
            </div>

        </div>
        <section class="home-section">
            <div class="home-content">

                <div class="rightheaderbox">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="clientlogo">
                                <img src="https://clapgrow.com/admin/images/newdesign/blanklogo.jpeg" alt=""
                                    class="iconlogolt">
                                <h1>Symmetrix Systems Pvt. Ltd.</h1>

                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-2">&nbsp;</div>
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <a href="comp_users.php">
                                <div class="rightuserimgbox">
                                    <ul>
                                        <span style="padding-right:30px;font-weight:600;color:#0939B0;">Hi Vidul
                                            Prothi,</span>
                                        <li><img src="../updld/myusrph/1670335147_boxbkdesign_late.png" alt=""
                                                width="48px" style="border:1px solid #000"></li>
                                        <li class="numonly">+7</li>
                                    </ul>
                                </div>
                            </a>
                        </div>
                        <div class="col-xl-12 col-lg-12">
                            <div class="customseptwo"></div>
                        </div>
                    </div>

                </div>

            </div>
            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <div class="content-header">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6">
                                <h1 class="m-0">Process</h1>
                            </div><!-- /.col -->
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="index.php">Home</a></li>
                                    <li class="breadcrumb-item active">Process</li>
                                </ol>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.container-fluid -->
                </div>
                <!-- /.content-header -->

                <!-- Main content -->
                <section class="content">
                    <div class="container-fluid">

                        <!-- Main row -->
                        <div class="row">

                            <section class="col-lg-12 connectedSortable">

                                <!-- Map card -->
                                <div class="card masteraudit">
                                    <div class="card-header border-0">
                                        <h3 class="card-title">
                                            <i class="nav-icon fas fa-edit"></i>
                                            Add Process
                                        </h3>
                                        <!-- card tools -->

                                        <!-- /.card-tools -->
                                    </div>
                                    <form role="form" method="post" action="/api/v1/admin/process">
                                        <!-- <input type="hidden" name="id" id="mynewproccid" value="">
                                    <input type="hidden" name="isprocesstemplate" id="isprocesstemplate" value="0"> -->
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-12">
                                                </div>
                                                <div class="col-sm-4" style="display:none;">
                                                    <div class="form-group">
                                                        <label for="">Is split Process</label>
                                                        <select name="is_split_proc" id="is_split_proc"
                                                            class="form-control required">
                                                            <option value="0">Select</option>
                                                            <option value="0">No</option>
                                                            <option value="1">Yes</option>

                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="">Select Master Process</label>
                                                        <select name="master_process_id" id="master_process_id"
                                                            class="form-control">
                                                            <option value="0">Select</option>
                                                            <option value="1">Texmaco</option>
                                                            <option value="2">Master Process</option>
                                                            <option value="4">Pawnji's Test</option>
                                                            <option value="23">Project Analysis</option>
                                                            <option value="66">aasd</option>
                                                            <option value="193">Vijender Sir Test</option>
                                                            <option value="454">new process up</option>
                                                            <option value="457">New simple process</option>
                                                            <option value="458">Test process for dependent work</option>
                                                            <option value="460">New process has no dependent</option>
                                                            <option value="461">Process attach form when edit</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="">Having Conditional Step?</label>
                                                        <select name="conditional_step" id="conditional_step"
                                                            class="form-control required">
                                                            <option value="">Select</option>
                                                            <option value="1">Yes</option>
                                                            <option value="0" selected>No</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="">Multithread Process?</label>
                                                        <select name="multi_thread_process" id="multi_thread_process"
                                                            class="form-control required">
                                                            <option value="">Select</option>
                                                            <option value="1">Yes</option>
                                                            <option value="0" selected>No</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="">Multithread Identifier</label>
                                                        <input type="text" class="form-control" value=""
                                                            placeholder="Multithread Identifier"
                                                            name="multithread_identifier" id="multithread_identifier">
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="">Having Unique Field?</label>
                                                        <select name="having_unique_field" id="having_unique_field"
                                                            class="form-control">
                                                            <option value="">Select</option>
                                                            <option value="1">Yes</option>
                                                            <option value="0" selected>No</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="">Unique Field Name</label>
                                                        <input type="text" class="form-control" value=""
                                                            placeholder="Unique Field Name" name="unq_fld_id_name"
                                                            id="unq_fld_id_name">
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="">Process Name</label>
                                                        <input type="text" class="form-control required" id="" value=""
                                                            placeholder="Enter Name" name="process_name">
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="">Decription</label>
                                                        <textarea class="form-control required"
                                                            name="process_desc"></textarea>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="">Observer</label>
                                                        <select name="observer_id" class="form-control required">
                                                            <option value="">Select Observer</option>
                                                            <option value="3">Manish Prasad2</option>
                                                            <option value="4">S Das</option>
                                                            <option value="5">Jai Kejriwal</option>
                                                            <option value="7">Chiranjibi</option>
                                                            <option value="8">Sayan Koley</option>
                                                            <option value="9">Ayan</option>
                                                            <option value="10">Sujoy Ghosh</option>
                                                            <option value="76">ravan' Mukherjee1</option>
                                                        </select>
                                                    </div>
                                                </div>

                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="">Instructional Video</label>
                                                        <input type="text" class="form-control url" id="" value=""
                                                            placeholder="Enter video url" name="video_url">
                                                    </div>
                                                </div>


                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="">Attachment (Only pdf file will be
                                                            accepted)</label>
                                                        <input type="file" class="form-control" name="myfile">
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group">
                                                        <label for="">Tags</label>
                                                        <input id="activate_tagator2" type="text"
                                                            class="tagator form-control" value=""
                                                            placeholder="Enter Tags" name="tags"
                                                            data-tagator-show-all-options-on-focus="true"
                                                            data-tagator-autocomplete="['test']">
                                                    </div>
                                                </div>
                                                <div class="col-sm-4" id="wrapcustdate1">
                                                    <div class="form-group">
                                                        <label for="" style="width:100%;">If custom date
                                                            initiation</label>
                                                        <input type="checkbox" name="customdateinit" id="customdateinit"
                                                            value="1">&nbsp;Initiate process by custom date
                                                    </div>
                                                </div>
                                                <div class="col-sm-4" id="wrapcustdate2">
                                                    <div class="form-group">
                                                        <label for="" style="width:100%;">Custom date initiation
                                                            label</label>
                                                        <input type="text" class="form-control" value=""
                                                            placeholder="Enter Custom date initiation label"
                                                            name="customdateinit_firststep_label"
                                                            id="customdateinit_firststep_label">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12 divdrall" id="wrapprocess">
                                                    <div class="form-group" style="display:none;">
                                                        <label for="process_name_1">Checklist</label>
                                                        <input type="text" class="form-control" id="process_name_1"
                                                            value="" placeholder="Enter Checklist"
                                                            name="process_name_1"><a href="javascript:void(0);"
                                                            class="myincreaseproc_process plusicn"><i class="fa fa-plus"
                                                                aria-hidden="true"></i></a>
                                                    </div>
                                                    <input type="hidden" name="totprocess_process"
                                                        id="totprocess_process" value="1">

                                                    <div class="col-sm-4">&nbsp;</div>
                                                    <div class="border-0" style="width:100%;">
                                                        <h3 class="card-title" style="width:100%;">
                                                            <i class="nav-icon fas fa-edit"></i>

                                                            Steps <a href="javascript:void(0);" id="addingstep"
                                                                class="grnbutnadd"><!--<i class="fa fa-plus" aria-hidden="true"></i> &nbsp; -->Add
                                                                Step</a> &nbsp;&nbsp; <a href="javascript:void(0);"
                                                                data-toggle="modal" data-target="#myModal"
                                                                class="sendmsg grnbutnadd"><!--<i class="fa fa-paperclip" aria-hidden="true"></i> &nbsp; -->Attach
                                                                Form</a><span
                                                                style="font-size:14px;float:right;padding-right:15px;"></span>
                                                        </h3>
                                                    </div>
                                                    <div style="clear:both;"></div>
                                                    <div id="step_wrp" class="col-sm-12 addspdvr">
                                                        <div class="row">
                                                            <div id="dynamicFieldsContainer" class="row">
                                                                <div class="col-sm-4">
                                                                    <div class="form-group">
                                                                        <label for="">Step Name</label>
                                                                        <input type="text" class="form-control required"
                                                                            id="" value="" placeholder="Enter step name"
                                                                            name="step_name">
                                                                    </div>
                                                                </div>

                                                                <div class="col-sm-4">
                                                                    <div class="form-group">
                                                                        <label for="">Step Decription</label>
                                                                        <textarea class="form-control required"
                                                                            name="step_description"
                                                                            placeholder="Enter step description"></textarea>
                                                                    </div>
                                                                </div>
                                                                <div class="col-sm-4">
                                                                    <div class="form-group">
                                                                        <label for="">Select Doer</label>
                                                                        <select name="step_doer"
                                                                            class="form-control required">
                                                                            <option value="">Select Doer</option>
                                                                            <option value="3">Manish Prasad2</option>
                                                                            <option value="4">S Das</option>
                                                                            <option value="5">Jai Kejriwal</option>
                                                                            <option value="7">Chiranjibi</option>
                                                                            <option value="8">Sayan Koley</option>
                                                                            <option value="9">Ayan</option>
                                                                            <option value="10">Sujoy Ghosh</option>
                                                                            <option value="76">ravan' Mukherjee1
                                                                            </option>
                                                                        </select>
                                                                    </div>
                                                                </div>

                                                                <div class="col-sm-12" id="wrapprocess_step1">
                                                                    <div class="row" id="field_process_1_1"
                                                                        style="position:relative;">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label for="">Checklist</label>
                                                                                <input type="text" class="form-control"
                                                                                    id="checklist_step_1_1" value=""
                                                                                    placeholder="Enter Checklist"
                                                                                    name="checklist_step_1_1">
                                                                            </div>
                                                                        </div>

                                                                        <a href="javascript:void(0);"
                                                                            class="myincreaseproc_process_step plusicn"
                                                                            data-id="1" style="right:10px;"><i
                                                                                class="fa fa-plus"
                                                                                aria-hidden="true"></i></a>
                                                                        <input type="hidden" name="totprocess_process_1"
                                                                            id="totprocess_process_1" value="1">
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <input type="hidden" value="1" name="totprocess"
                                                                id="totprocess">

                                                        </div>

                                                    </div>

                                                    <!-- <div class="addspl"><a href="javascript:void(0);" id=""
                                                    class="grnbutnadd" onclick="addNewFields()"
                                                    style="margin-right:17px;">Add Step</a></div> -->
                                                    <button type="button" onclick="addNewFields()"
                                                        class="btn grnbutnadd">Add Fields</button>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <input type="hidden" value="570" name="totworkmin"
                                                            id="totworkmin">
                                                        <button type="submit"
                                                            class="btn btn-primary custombut">Submit</button>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        &nbsp;
                                                    </div>
                                                </div>

                                            </div>

                                    </form>
                                    <!-- /.card-body-->

                                </div>
                                <!-- /.card -->
                                <div class="modal fade" id="myModal" role="dialog">
                                    <div class="modal-dialog">


                                        <!-- Modal content-->
                                        <div class="modal-content mydesgncg">
                                            <div class="modal-header taskmodlhdr">
                                                <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                                <h4 class="modal-title">Generate Form</h4>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <form name="" id="myfrm" class="newfrmcg">
                                                            <span>Field Type:</span>
                                                            <select name="fieldtype" id="fieldtype" class="required">
                                                                <option value="1">Text</option>
                                                                <option value="2">Text Area</option>
                                                                <option value="3">Checkbox</option>
                                                                <option value="4">Radio</option>
                                                                <option value="5">Select</option>
                                                                <option value="7">Date</option>
                                                                <option value="8">Number</option>
                                                            </select></br></br>
                                                            <span>Field Label:</span>
                                                            <input type="text" name="field_label" id="field_label"
                                                                class="required" /><br>
                                                            <div id="select_decider" name="select_decider"
                                                                style="display:none;"><br><input type="radio"
                                                                    name="select_data_type" id="select_data_type_1"
                                                                    value="1"
                                                                    class="required deciderchkbox">&nbsp;Master
                                                                Table&nbsp;&nbsp;<input type="radio"
                                                                    name="select_data_type" value="2"
                                                                    id="select_data_type_2"
                                                                    class="required deciderchkbox" checked>&nbsp;Option
                                                            </div>
                                                            <div id="mymaster_tabl_data">
                                                                <select name="mymaster_tabl_data_val"
                                                                    id="mymaster_tabl_data_val" style="display:none;">
                                                                    <option value="">Select</option>
                                                                </select>
                                                            </div>
                                                            <div class="seloption" id="wrapprocess_new"
                                                                style="display:none;"></div><br>
                                                            Is Required ?<br>
                                                            <input type="radio" name="isreq" class="myreqrad required"
                                                                value="1" checked />&nbsp;Yes &nbsp; &nbsp; <input
                                                                type="radio" name="isreq" class="myreqrad required"
                                                                value="0" />&nbsp;No<br /></br>
                                                            <input type="hidden" name="mycnt" id="totprocess_new"
                                                                value="1" />
                                                            <input type="hidden" id="fldgeneratedid" value="" />

                                                            <!--Display Order:</br>
				<input type="text" name="disp_order" /></br></br>-->
                                                            <input type="submit" value="Submit" id="mysubmit2"
                                                                class="popsubcg" />
                                                        </form>
                                                        <div id="edittabledymfld" style="display:none;">
                                                            <form name="upddymfldedit" class="newfrmcg"
                                                                id="upddymfldedit">
                                                                <p id="whichfld"></p>
                                                                <input type="checkbox" name="showinline" id="showinline"
                                                                    value="1">&nbsp;Show Inline
                                                                <input type="text" name="optionvalnewadd"
                                                                    id="optionvalnewadd" class="optionvalclsnew"
                                                                    placeholder="Option Value">
                                                                <input type="text" name="optionnamenewadd"
                                                                    id="optionnamenewadd" class="optionnameclsnew"
                                                                    placeholder="Option Name">
                                                                <input type="hidden" name="myedtfldidnw"
                                                                    id="myedtfldidnw">
                                                                </br></br>
                                                                <p style="text-align:center;display:none;"
                                                                    id="addexfldloader"><img
                                                                        src="images/spinner_load.gif"></p>
                                                                <input type="submit" value="Update" id="mysubmit111"
                                                                    class="popsubcg" />
                                                            </form>
                                                        </div>

                                                        <div id="edittabledymfld1" style="display:none;">
                                                            <form name="upddymfldedit1" class="newfrmcg"
                                                                id="upddymfldedit1">
                                                                <p id="whichfld1"></p>
                                                                <input type="checkbox" name="showinline1"
                                                                    id="showinline1" value="1">&nbsp;Show Inline
                                                                <input type="hidden" name="myedtfldidnw1"
                                                                    id="myedtfldidnw1">
                                                                </br></br>
                                                                <p style="text-align:center;display:none;"
                                                                    id="addexfldloader1"><img
                                                                        src="images/spinner_load.gif"></p>
                                                                <input type="submit" value="Update" id="mysubmit155"
                                                                    class="popsubcg" />
                                                            </form>
                                                        </div>

                                                        <div id="edittabledymfld2" style="display:none;">
                                                            <form name="upddymfldedit2" class="newfrmcg"
                                                                id="upddymfldedit2">
                                                                <p id="whichfld2"></p>
                                                                <input type="checkbox" name="showinline2"
                                                                    id="showinline2" value="1">&nbsp;Show Inline
                                                                <br /><br />
                                                                <input type="checkbox" name="isnotifyno" id="isnotifyno"
                                                                    value="1">&nbsp;Pick wap no from this table?
                                                                <input type="hidden" name="myedtfldidnw2"
                                                                    id="myedtfldidnw2">
                                                                </br></br>
                                                                <p style="text-align:center;display:none;"
                                                                    id="addexfldloader2"><img
                                                                        src="images/spinner_load.gif"></p>
                                                                <input type="submit" value="Update" id="mysubmit166"
                                                                    class="popsubcg" />
                                                            </form>
                                                        </div>

                                                    </div>
                                                    <div class="col-md-9">
                                                        <div class="row rtdeshg" id="mycontaindiv">

                                                        </div>

                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>

                                </div>
                                <input type="hidden" id="dynamicstep" value="" />
                            </section>
                            <!-- right col -->
                        </div>
                        <!-- /.row (main row) -->
                    </div><!-- /.container-fluid -->
                </section>
                <!-- /.content -->
            </div>
            <!-- /.content-wrapper -->
            <div class="rightfooterbox">
                <footer class="adminfootersec">
                    <div class="container-fluid">
                        <p>Copyright © 2022-2023 <strong><a href="index.php">Clap Grow</a>.</strong> All rights
                            reserved.</p>
                    </div>
                </footer>
            </div>

            <!-- jQuery -->
            <script src="https://clapgrow.com/admin/js/jquery.min.js"></script>
            <!-- jQuery UI 1.11.4 -->
            <script src="https://clapgrow.com/admin/js/jquery-ui.min.js"></script>
            <script src="https://clapgrow.com/admin/js/jquery.validate.js"></script>
            <script src="https://clapgrow.com/admin/js/fm.tagator.jquery.js"></script>
            <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
            <script>
                $.widget.bridge('uibutton', $.ui.button)
            </script>
            <!-- Bootstrap 4 -->
            <script src="https://clapgrow.com/admin/js/bootstrap.bundle.min.js"></script>

            <!-- AdminLTE App -->
            <script src="https://clapgrow.com/admin/js/adminlte.js"></script>
            <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
            <!--<script src="js/dashboard.js"></script>-->
            <!-- AdminLTE for demo purposes -->
            <script src="https://clapgrow.com/admin/js/clapgroww.js"></script>


            <script>
                $('.toggle').click(function (e) {
                    e.preventDefault();
                    $('.accordion li a').removeClass("openclass");

                    $(this).addClass("openclass");

                    var $this = $(this);

                    if ($this.next().hasClass('show')) {
                        $this.next().removeClass('show');
                        $this.next().slideUp(350);
                        $(this).removeClass("openclass");
                    } else {
                        $this.parent().parent().find('li .inner').removeClass('show');
                        $this.parent().parent().find('li .inner').slideUp(350);
                        $this.next().toggleClass('show');
                        $this.next().slideToggle(350);
                    }
                });

            </script>
            <script>
                $('#customdateinit').click(function (e) {

                    var ifchecked = $('#customdateinit').is(":checked");
                    //alert(ifchecked);
                    if (ifchecked == true) {
                        $('#customdateinit_firststep_label').removeClass('required');
                        $('#customdateinit_firststep_label').addClass('required');
                    }

                    if (ifchecked == false) {
                        $('#customdateinit_firststep_label').val('');
                        $('#customdateinit_firststep_label').removeClass('required');

                    }
                });

                $(document).on('change', '#master_process_id', function () {

                    //$('#customdateinit')
                    if ($('#master_process_id').val() != 0) {
                        $('#customdateinit_firststep_label').val('');
                        $('#customdateinit').prop('checked', false);
                        $('#wrapcustdate1').hide();
                        $('#wrapcustdate2').hide();
                    }
                    if ($('#master_process_id').val() == 0) {
                        $('#customdateinit').prop('checked', false);
                        $('#customdateinit_firststep_label').val('');
                        $('#wrapcustdate1').show();
                        $('#wrapcustdate2').show();
                    }
                });
            </script>


            <script>
                $(function () {
                    $.validator.addMethod("mycnpassstd", function (value, element) { if ($.trim($('#mypassword').val()) != $.trim($('#mycpassword').val())) { return false; } else { return true; } }, "Text does not match with image");
                    $('#quickForm').validate();
                });

                $(document).on('click', '.vrbldtchkbox', function () {

                    var myval = $(this).val();
                    var mtwrapid = 'mvrastpnm' + myval;
                    //alert(mtwrapid);
                    if ($(this).is(":checked") == true) {
                        //alert()
                        $('#' + mtwrapid).append('<input type="text" class="form-control required" placeholder="Enter variable name" name="varblstp_name' + myval + '" value="Variable(T) Date">');

                    }
                    if ($(this).is(":checked") == false) {
                        $('#' + mtwrapid).html('');
                    }
                });
            </script>

            <script>
                function addNewFields() {
                    // alert("ss")
                    const container = document.getElementById('dynamicFieldsContainer');
                    const newIndex = container.children.length + 1;

                    const newFields = document.createElement('div');
                    newFields.innerHTML = `<div id="" class="row">
    <div class="col-sm-4">
        <div class="form-group"><label for="">Step Name</label><input type="text" class="form-control required"
                placeholder="Enter step name" name="step_name"></div>
    </div>
    <div class="col-sm-4">
        <div class="form-group"><label for="">Step Decription</label><textarea class="form-control required"
                name="step_description" placeholder="Enter step description"></textarea></div>
    </div>
    <div class="col-sm-4">
        <div class="form-group"><label for="">Select Doer</label><select name="step_doer"
                class="form-control required">
                <option value="">Select Doer</option>
                <option value="3">Manish Prasad2</option>
                <option value="4">S Das</option>
                <option value="5">Jai Kejriwal</option>
                <option value="7">Chiranjibi</option>
                <option value="8">Sayan Koley</option>
                <option value="9">Ayan</option>
                <option value="10">Sujoy Ghosh</option>
                <option value="76">ravan' Mukherjee1</option>
            </select></div>
    </div>
    <div class="col-sm-4">
        <div class="form-group"><label for="">Tat Type</label><select name="step_type" id="steptattype_2"
                class="form-control required mytattype">
                <option value="1">General</option>
                <option value="2">Specific Day(s)</option>
                <option value="3">Cut Off</option>
                <option value="4">Variable</option>
            </select></div>
    </div>
    <div class="col-sm-4" id="tat_wrapper2">
        <div class="form-group"><label for="">TAT</label><input type="number" class="form-control required" id=""
                value="" placeholder="Enter step tat" name="step_tat" min="1" step="1" max="570"></div>
    </div>
    <div class="col-sm-4" id="freq_wrapper2">
        <div class="form-group"><label for="">Days / Minutes</label><select name="frequency"
                class="form-control required">
                <option value="">Select days / minutes</option>
                <option value="1">Minutes</option>
                <option value="2">Days</option>
            </select></div>
    </div>
    <div class="col-sm-4">
        <div class="form-group"><input type="checkbox" name="splitfileneeded" id="splitfileneeded2" value="2"
                style="float:left;width:auto;" class="form-control"><span style="line-height:38px;padding:5px;">File
                Upload Needed?</span></div>
    </div>
    <div class="col-sm-4 wrapchildcls" id="wrap_child_2">
        <div class="form-group"><input type="checkbox" name="variableneeded" id="variableneeded2"
                style="float:left;width:auto;" value="2" class="form-control vrbldtchkbox"><span
                style="line-height:38px;padding:5px;">Capture Variable Date?</span></div>
    </div>
    <div class="col-sm-4">
        <div class="form-group" id="mvrastpnm2"></div>
    </div>
    <div class="col-sm-12" id="wrapprocess_step2">
        <div class="form-group">
            <div class="row" style="position:relative;">
                <div class="col-md-6">
                    <div class="form-group"><label for="">Checklist</label><input type="text" class="form-control"
                            id="checklist_step_2_1" value="" placeholder="Enter Checklist" name="checklist_step_2_1">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group"><label for="" style="width:100%;">&nbsp;</label><select
                            name="checklist_step_doer_2_1" class="form-control">
                            <option value="">Select Doer</option>
                            <option value="3">Manish Prasad2</option>
                            <option value="4">S Das</option>
                            <option value="5">Jai Kejriwal</option>
                            <option value="7">Chiranjibi</option>
                            <option value="8">Sayan Koley</option>
                            <option value="9">Ayan</option>
                            <option value="10">Sujoy Ghosh</option>
                            <option value="76">ravan' Mukherjee1</option>
                        </select></div>
                </div>
            </div><a href="javascript:void(0);" class="myincreaseproc_process_step plusicn" data-id="2"
                style="right:10px;"><i class="fa fa-plus" aria-hidden="true"></i></a>
        </div><input type="hidden" name="totprocess_process_2" id="totprocess_process_2" value="1">
    </div>
    <div class="col-sm-12"><a href="javascript:void(0);" class="removestep rmvstepspclproc" data-id="2">Remove</a></div>
</div>`;

                    container.appendChild(newFields);
                }
            </script>

            <script>
                $("#mysubmit2").click(function (event) {
                    event.preventDefault();
                    var myrandomid = 'sfasdfadsf'
                    // alert("The paragraph was clicked.");
                    const selectedValue = $("#fieldtype").val();
                    alert(selectedValue);
                    if (selectedValue == '1') {
                        $('#mycontaindiv').append('<div class="col-md-4" id="' + myrandomid + '"><div class="wrapprocfld"><span>' + $('#field_label').val() + '&nbsp;&nbsp;<a class="rmgnfld" data-id="' + myrandomid + '" href="javascript:void(0);"><i class="fa fa-times" aria-hidden="true"></i></a></span><div class="wrpfield"><input type="text" class="required" name="random"></div></div></div>');
                    }



                });
            </script>
</body>

</html>